[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "happly"]
	path = happly
	url = https://github.com/nmwsharp/happly.git
[submodule "cnpy"]
	path = cnpy
	url = https://github.com/rogersce/cnpy.git
